html,
body {
  padding: 0;
  margin: auto;
  height: 100%;
}

#background {
  background-color: #000;
  background: #403B4A, url(../images/banner-image1.jpg);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A),url(../images/banner-image1.jpg);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(187, 210, 197, 0.8), rgba(83, 105, 118, 0.9)),url(../images/banner-image1.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-position: auto;
  background-size: cover;
  display: table;
  height: 100%;
  width: 100%;
}

#loginContainer * {
  color: #fff;
  font-family: "Circular,Helvetica,Arial",sans-serif
  /*"Helvetica Neue", "Helvetica", "Arial", sans-serif;*/
  font-weight: normal;
  line-height: 1em;
  box-sizing: border-box;
}

#loginContainer {
  padding-top: 200px;
  width: 90%;
  margin: auto;
  position: relative;
  max-width: 1200px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #D8D8D8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #D8D8D8;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #D8D8D8;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #D8D8D8;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #D8D8D8;
}

#inputContainer {
  width: 400px;
  padding: 50px;
  float: left;
  border-right: 1px solid #fff;
  margin-left: 100px;
}

#inputContainer h2 {
  text-align: center;
  text-shadow: 0.6px 0.6px #211f20;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
  display: block;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  height: 27px;
  line-height: 27px;
  width: 100%;
}

#inputContainer label{
color: #fff;
font-size: 13px;
margin-top: 15px;
text-shadow: 0.2px 0.2px #211f20;
}

#inputContainer button {
background-color: transparent;
border: 2px solid #fff;
border-radius: 250px;
color: #fff;
display: block;
font-size: 14px;
letter-spacing: 1px;
margin: 20px auto;
height: 41px;
width: 100%;
transition: all 0.4s ease 0s;
}

#inputContainer button:hover {
  cursor: pointer;
  background-color: #8C271E;
}
.hasAccountText span {
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.hasAccountText {
  text-align: center;

}

#registerForm,
#loginForm {
  display: none;
}
#loginText {
  padding: 10px;
  display: table-cell;
  padding-right: 0px;
}

#loginText h1 {
  margin: 10px;
  color: #8C271E;
  font-size: 80px;
  font-weight: bold;
  text-shadow: 1px 1px #211f20;
}

#loginText h2 {
  margin: 35px 10px;
  text-shadow: 0.8px 0.8px #211f20;
}

#loginText ul {
  padding: 0;
}

#loginText li {
  font-size: 20px;
  list-style-type: none;
  padding: 5px 35px;
  background: url(../images/icons/checkmark.svg) no-repeat;
}

#inputContainer .errorMessage {
  color: #b94a48;
  text-shadow: 0.2px 0.2px #211f20;
  font-size: 14px;
  display: block;
  padding-bottom: 10px;
}
